<div class='box'>
  <h3><i>A {{results.category}} food restaurant.</i></h3>
  <p id='desc'>Distance from HQ: {{results.distance}} miles.</p>
  <hr>
  <p><b>Reviews:</b></p>
  <ul>
    {{#each reviews}}
    <li>
      {{name}} says: "{{review}} - {{stars}} stars!"
    </li>
    {{/each}}
  </ul>
  <a href='/'>Back to search</a>
  <br>
  <hr>
  <p>Add your own review:</p>
  <form method='POST', action='/restaurant/{{results.id}}'>
    <label>Review title: </label>
    <input type='text' name='title' size='55' maxlength='42'>
    <br> <br>
    <label>How many stars?</label>
    <input type='radio' name='stars' value=1> <label class='radio'>1</label>
    <input type='radio' name='stars' value=2> <label class='radio'>2</label>
    <input type='radio' name='stars' value=3> <label class='radio'>3</label>
    <input type='radio' name='stars' value=4> <label class='radio'>4</label>
    <input type='radio' name='stars' value=5> <label class='radio'>5</label>

    <br> <br>
    <label>Review description: <span class='small'>Limit 500 characters</span></label>
    <textarea rows="4" cols="50" maxlength="500" name='review'></textarea>
    <input type='submit' class='centered'>
  </form>
</div>
